*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

.section-home{
    background-color: aqua;
    padding: 32px;
}

.div-home-registration{
    margin-bottom: 30px;
}
.div-home-rooms{}
    

